/* ===============================
   全体レイアウト
=============================== */
main {
    width: 92vw;
    margin: 0 auto;
}

.main_wrap {
    margin: 0 auto;
    border-radius: 12px;
    background: #fff;
    padding: 16px 16px 30px;
}

.content {
    width: 750px;
    margin: 0 auto;
}

/* ===============================
   見出し
=============================== */
h2 {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin: 20px auto 2px;
}

h4 {
    font-size: 1.6rem;
    margin: 34px 0 12px;
    line-height: 2rem;
}

h4::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background: #eb1e1e;
    margin-right: 6px;
}

/* ===============================
   入力フォーム
=============================== */
input[type="text"],
input[type="tel"] {
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 2%;
    width: 100%;
    height: 32px; // テキストボックスの高さを32pxに設定
    border-radius: 8px;
}

input[type="text"]::placeholder {
    font-size: 2rem !important;
}

.message_title input[type="text"] {
    width: 100%;
}

.message_title input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px;
    width: 100%;
}

/* ===============================
   ボタン
=============================== */
.button_area {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    .button {
        text-align: center;
        line-height: 44px;
        margin: 0 10px;
        font-size: 1.4rem;
        font-weight: bold;
        display: block;
        width: 39vw;
        height: 44px;
        border-radius: 40vw;
        cursor: pointer;

        &.prev {
        background: #fff;
        color: #000;
        }

        &.next {
        background: #EB1E1E;
        color: #fff;

        &.disabled {
            background-color: #d9d9d9;
            color: #666;
            cursor: default;
            pointer-events: none;
        }
        }
    }
}

/* ===============================
   エラー表示
=============================== */
.invalid {
    color: #eb1e1e;
    padding: 5px;
}


/* ===============================
   チェックボックス
=============================== */
.agree {
    font-size: 1.6rem;
    margin: 30px 0;
}

input[type="checkbox"] {
    display: none;
}

.agree label {
    position: relative;
    cursor: pointer;
    padding-left: 36px;
    display: flex;
    align-items: center;
}

.agree .indicator {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;
}

.agree label input:checked ~ .indicator::after {
    display: block;
}

.agree .indicator::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    left: 6px;
    top: 2px;
    transform: rotate(45deg);
}

/* ===============================
   プレビュー表示
=============================== */
.preview_image {
    width: 100px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media screen and (min-width: 961px) {

    main {
        width: 880px;
    }

    .input_area {
        width: 454px;
        margin: 0 auto;
    }

    input[type="text"],
    input[type="tel"] {
        width: 60%;
    }

    .button_area {
        width: 285px;
        margin: 34px auto 24px;
    }
}


/* ===============================
   モーダル
=============================== */
.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 200;
}

.modal h2 {
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}


.modal p {
    font-size: 1.4rem;
    margin: 25px 0;
    text-align: center;
}

.modal_content {
    background: #fff;
    border-radius: 28px;
    padding: 30px 20px;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    margin: 0;
    width: 92vw;
}

.modal_link {
    background: #EB1E1E;
    color: #fff;
    border-radius: 50px;
    width: 70vw;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    text-align: center;
    display: block;
    cursor: pointer;
}

.close_about {
    border-radius: 50%;
    background: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    top: -65px;
    right: 0;
    font-size: 2.5rem !important;
    text-align: center;
    cursor: pointer;
}

@media screen and (min-width: 961px) {
    .close_about {
        width: 40px;
        height: 40px;
        line-height: 35px;
        top: -75px;
        font-size: 2.7rem !important;
    }

    .modal h2 {
        font-size: 2rem;
    }

    .modal p {
        font-size: 1.6rem;
    }

    .modal_content {
        width: 600px !important;
        padding: 35px 20px;
    }

    .btn_agree {
        width: 223px;
    }
}

/* ===============================
   imgをクリックして拡大表示
=============================== */
.image_modal_content {
    text-align: center;
}

.large_image {
    max-width: 100%;
    max-height: 70vh;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
